/ArrayIO.class
/BankingProgram.class
/Casting.class
/DiceRoller.class
/FizzBuzz.class
/FormattingNumbers.class
/LinearSearch.class
/MathOperations.class
/MortgageCalculator.class
/RockPaperScissors.class
/Shopping.class
/Temperature.class
/UserInput.class
/numberGuesser.class
/simpleCalc.class
/weightConverter.class
/MatrixMultiplication.class
